#boton1{
    position: relative;
    left: 150px;
    bottom: 50px;
}
#boton2{
    position: relative;
    left: 240px;
    bottom: 106px;
}
#titulo{
    text-align: center;
}
.opciones{
    margin-top: 10px;
}
